<ion-view>

    <ion-content has-header="true" padding="true">

        <div class="list card">
            <a class="item item-icon-left item-divider" ng-hide="user" ng-click="facebookLogin()">
                <i class="icon ion-social-facebook positive"></i>
                Login with Facebook.
                use open_dclkcnt_user@tfbnw.net to login, password is 1
            </a>

            <div class="item item-divider" ng-show="user" ng-cloak>
                {{ user }}'s friends
            </div>

            <li class="item" ng-repeat="friend in friends">
                {{ friend }}
            </li>
        </div>

        <div class="list card">
            <a class="item item-icon-left item-divider" ng-hide="yammerUser" ng-click="yammerGetLoginStatus()">
                Login with Yammer. dev@wizky.co
                <!--<button class="button" id="yammer-login" ng-click="yammerLogin()">Yammer Login</button>-->
                <!--<button class="button" id="yammer-login" ng-click="yammerGetLoginStatus()">Get Status</button>-->
                <!--<button class="button"  ng-click="yammerGetRelations()">Get Relations</button>-->
            </a>

            <div class="item item-divider" ng-show="yammerUser" >
                {{ yammerUser.full_name }}'s friends
            </div>

            <!--<li class="item" ng-repeat="friend in yammerFriends | filter:{target_type: 'user'}">-->
            <li class="item" ng-repeat="friend in yammerFriends">
            <!--<li class="item" ng-repeat="friend in yammerFriends">-->
                {{ friend.full_name }} {{ friend.stats }}
            </li>
        </div>

        <div class="list card">


            <a class="item item-icon-left item-divider" ng-hide="wechatUser" ng-click="wechatLogin()">
                <img src="img/wechat/login48.png"/>
                <!--<button class="button" id="yammer-login" ng-click="yammerLogin()">Yammer Login</button>-->
                <!--<button class="button" id="yammer-login" ng-click="yammerGetLoginStatus()">Get Status</button>-->
                <!--<button class="button"  ng-click="yammerGetRelations()">Get Relations</button>-->
            </a>

            <div class="item item-avatar" ng-show="wechatUser.profile">
                <img ng-src="{{wechatUser.profile.headimgurl}}">
                <h2>{{wechatUser.profile.nickname}}</h2>
                <p>{{ wechatUser.profile }}</p>
            </div>

        </div>
    </ion-content>

</ion-view>
